html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 180%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  font-size: 100%;
}

body > div {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.gameOver {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}
